@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?auto=format&fit=crop&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

.form-checkbox {
  @apply rounded border-gray-300 text-[#5a6b47] focus:ring-[#5a6b47];
}

.form-radio {
  @apply border-gray-300 text-[#5a6b47] focus:ring-[#5a6b47];
}